:root {
  --back: rgb(0, 0, 0);
  --back2: hsl(0, 0%, 21%);
  --foredark: hsla(0, 0%, 10%, 1);
  --forelight: hsla(0, 0%, 100%, 1);
  --border: hsla(0, 0%, 20%, 0.8);
  --borderlight: hsla(0, 0%, 33%, 0.3);
  --shadow: hsl(0, 0%, 50%);
  --zebra: hsl(0, 0%, 93%, 1);
}

body {
  font-family: "EB Garamond", Arial, serif;
}

table {
  margin: 10px auto;
  border: thin solid var(--border);
  box-shadow: 0 0 10px var(--shadow);
  border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: var(--back);
  font-size: 0.85rem;
}

tr th {
  color: var(--forelight);
}

tr:first-child th,
tr:nth-child(2) th:first-child {
  background-color: var(--back);
}

th {
  background-color: var(--back2);
  font-size: larger;
  padding: 15px 15px;
  border: 1px solid var(--borderlight);
}

td {
  text-align: center;
  padding: 7px 15px;
  border: 1px solid var(--borderlight);
}

tbody tr:nth-child(even) {
  background-color: var(--zebra);
}
