body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #161616;
}

body {
  max-width: 800px;
}

section {
  border: 1px solid #335f95;
  margin: 2rem 0 2rem 0;
}

#ribbon {
  height: 2rem;
  background-color: #5f8cc7;
  position: absolute;
  left: 0;
  right: 0;
  top: 3rem;
  z-index: -1;
}

h1,
h2 {
  padding: 1rem;
  margin: 0;
  font-family: "Mooli", sans-serif;
  background-color: #335f95;
  color: white;
}

h3 {
  font-family: "Mooli", sans-serif;
}

p {
  margin: 1rem;
}

#primary-color,
#secondary-color,
#highlight-color {
  margin: 1rem auto;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

#primary-color {
  background-color: #335f95;
  color: white;
}

#secondary-color {
  background-color: #5f8cc7;
}
#highlight-color {
  background-color: #e2a739;
}

#color-schema img {
  margin: 1rem auto;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.wide-wireframe {
  margin: 1rem auto;
  width: 100%;
  height: auto;
  max-width: 600px;
}

.mobile-wireframe {
  margin: 1rem auto;
  width: 100%;
  height: auto;
  max-width: 300px;
}
