body {
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 2px solid rgba(119, 146, 173, 0.5);
  padding: 1rem;
  background-color: rgb(239, 246, 252);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #ffffff;
}
