body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: "Mooli", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #335f95;
}

header a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
  /* flex: 1 1 100%; */
}

nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
}

.hero img {
  width: 100%;
  height: auto;
}

.events,
.weather,
.member {
  padding: 1rem;
  border: 1px solid #335f95;
  margin: 0.5rem 0;
  background-color: #81c3d7;
}

.member {
  text-align: center;
}

.member h3 {
  text-align: left;
}

.member p {
  text-align: right;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: #335f95;
}

.chamber-info {
  grid-column: 1/4;
  text-align: left;
  color: #ffffff;
}

.contact-info {
  grid-column: 4/5;
  color: #ffffff;
}

.project-info {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  color: #ffff00;
}

.project-info p {
  margin: 0.1rem;
}
