:root {
  --primary-color: #335f95;
  --secondary-color: #81c3d7;
  --accent-color: #f2c14e;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #1d293f;
}

h1,
h2 {
  font-family: "Mooli", sans-serif;
}

h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* Header styles */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

header a {
  color: #ffffff;
  padding: 1rem;
}

.header img {
  width: 100%;
  height: auto;
  max-width: 128px;
  min-width: 64px;
}

.title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  min-width: 323px;
}

.title span {
  font-size: 1.81rem;
}

.social {
  display: flex;
  padding: 1rem;
  margin-left: auto;
}

.social a {
  padding: 0.5rem;
}

nav {
  flex-basis: 100%;
  justify-content: right;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

nav a {
  display: none;
}

nav .selected {
  color: #1d293f;
  background-color: var(--accent-color);
}

nav a:hover {
  color: #1d293f;
  background-color: var(--accent-color);
}

#menu {
  margin: 1rem 2rem 1rem auto;
  font-size: 1.5rem;
  text-align: right;
  width: 30px;
  height: 30px;
  padding: 0.3rem 0.5rem;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
}

#menu:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.open a {
  display: block;
}

#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

/* Footer styles */

footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: var(--primary-color);
}

.chamber-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  text-align: left;
  font-style: italic;
  color: #ffffff;
}

.chamber-info .logo {
  margin: 1rem;
}

.chamber-info img {
  width: 100%;
  height: auto;
  max-width: 128px;
  min-width: 64px;
}

.chamber-info .title {
  margin-top: auto;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-family: "Mooli", sans-serif;
  color: #ffffff;
}

.chamber-info .address {
  margin-top: 0.3rem;
}

.contact-info {
  padding: 1rem;
}

.contact-info a {
  color: #ffffff;
}

hr {
  border: 1px solid var(--primary-color);
}

footer hr {
  max-width: 850px;
  width: 80%;
  border-color: var(--accent-color);
}

.project-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  color: #ffff00;
}

.project-info p {
  margin: 0.1rem;
}

/* Home page styles */

main {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
}

.hero,
.spotlights {
  margin-bottom: 1rem;
}

.hero img {
  width: 100%;
  height: auto;
}

.button {
  position: relative;
  transform: translate(-50%, -50%);
  top: -40%;
  left: 50%;
  margin-bottom: -2.5rem;
  max-width: fit-content;
  min-width: 284px;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 0 2.5rem 0.5rem #1d293f;
}

.button a {
  padding: 1rem;
  color: #1d293f;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

.button a:hover {
  color: #1d293f;
  background-color: var(--accent-color);
}

.last-visit,
.events,
.weather,
.demographics,
.member,
.benefits-card {
  padding: 1rem;
  border: 1px solid var(--primary-color);
  margin: 0.5rem 0;
  background-color: var(--secondary-color);
}

.events h3 {
  margin-bottom: 0;
}

.events p {
  margin: 0.5rem 0;
}

.events a {
  font-size: 0.9rem;
}

/* .weather p {
  margin: 0 0 0 1rem;
}

.main-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.main-weather img {
  grid-row: 1/3;
  align-self: center;
  justify-self: right;
  margin: 0 1rem;
}

.main-weather p:last-child {
  font-weight: bold;
}

.other-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
}

.other-weather p:nth-child(odd) {
  justify-self: right;
  margin: 0 1rem 0 0;
} */

.member {
  text-align: center;
  margin: 0.5rem 2rem;
}

.member h3 {
  text-align: left;
}

.member p {
  text-align: right;
}

/* Discover page styles */

.sidebar div {
  margin: 0.5rem;
}

.last-visit {
  font-weight: 700;
  font-size: 1.2rem;
}

.demographics h3 {
  margin-bottom: 0.5rem;
}

.demographics p {
  margin-top: 0.5rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 640px;
}

.gallery figure {
  border: 8px solid transparent;
  margin: 0 4px;
}

.gallery img {
  max-width: 616px;
  max-height: 462px;
  /* width: 100%; */
  /* height: auto; */
  vertical-align: bottom;
}

.gallery figcaption {
  padding: 4px 0;
  width: auto;
  text-align: center;
  font-style: italic;
  color: #ffffff;
  background-color: var(--primary-color);
}

/* Join page styles */

form {
  margin: 2rem 1rem;
}

fieldset {
  border: 1px solid #1d293f;
  background-color: var(--primary-color);
  color: #ffffff;
  margin-bottom: 2rem;
}

legend {
  font-size: 1.2rem;
  padding: 5px;
  background-color: var(--accent-color);
  color: #1d293f;
  border: 1px solid var(--primary-color);
  margin-bottom: 1rem;
}

label span,
.radio-title {
  font-family: "Mooli", sans-serif;
  font-style: italic;
}

.radio-list {
  width: 94.5%;
  min-width: 180px;
  max-width: 314px;
  color: #1d293f;
  background-color: #ffffff;
  padding: 5px 5px 5px;
  border: 2px solid #1d293f;
  border-radius: 4px;
}

input,
textarea {
  display: block;
  height: 2.75rem;
  margin-bottom: 1rem;
  width: 95.8%;
  min-width: 186px;
  max-width: 320px;
  background-color: #ffffff;
  color: #1d293f;
  border: 2px solid #1d293f;
  border-radius: 4px;
}

textarea {
  height: 6rem;
}

.membership {
  display: block;
  padding: 0.75rem 0;
}

.membership input {
  display: inline;
  height: 1.3rem;
  margin-bottom: 0;
  width: auto;
  min-width: 24px;
  vertical-align: middle;
}

input:required {
  border-left: #d33b3b solid 6px;
  width: 95%;
  min-width: 182px;
  max-width: 316px;
}

input:required:valid {
  border-left: #3a823a solid 6px;
  max-width: 316px;
}

.optional {
  font-size: 0.7rem;
}

.submit-button {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 0 2rem 2px;
  height: 4rem;
  width: 98%;
  min-width: 220px;
  max-width: 342px;
  font-size: 2rem;
  color: #1d293f;
}

.submit-button:hover {
  background-color: var(--accent-color);
}

.sidebar h2 {
  margin: 1.5rem 0 0 1rem;
}

.sidebar .benefits-card {
  margin: 0.5rem 1rem;
}

.benefits-card h3,
.benefits-card h4,
.benefits-card ul {
  margin: 0.6rem 0;
}

.benefits-card ul {
  padding-left: 20px;
}

/* Thank You page styles */

.account-created {
  grid-column: 1 / 4;
  margin: 1rem;
}

.account-created p {
  margin: 1.5rem 0;
}

.home-button {
  min-width: 208px;
  grid-column: 1 / 4;
  justify-content: center;
  margin: 3rem auto;
}

.home-button a {
  font-size: 1.5rem;
  padding: 1.2rem;
  color: #1d293f;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

.home-button a:hover {
  color: #1d293f;
  background-color: var(--accent-color);
}

/* Directory page styles */

#businesses-title {
  margin: 1rem 0 0 1rem;
}

#layout-button {
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  padding: 7px 7px 5px 7px;
  text-align: center;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

#layout-button.list {
  padding: 5px 7px 7px 7px;
}

#layout-button:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

#layout-button::before {
  content: "☷";
}

#layout-button.list::before {
  content: "⊞";
}

.list div {
  display: block;
}

#directory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  margin: 0.5rem;
}

#directory.list {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--primary-color);
  margin: 1rem;
}

#directory div {
  text-align: center;
  border: 3px solid var(--primary-color);
  padding: 1rem;
  margin: 0.5rem;
}

#directory.list div {
  display: grid;
  border: 0;
  margin: 0;
  padding: 0.75rem 0.25rem;
}

#directory div * {
  display: block;
  margin: 0.5rem auto;
}

#directory.list div * {
  margin: 0.1rem 0.5rem;
  text-align: left;
}

#directory div h3:first-of-type {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}

#directory.list div h3:first-of-type {
  font-size: 1rem;
}

#directory.list img {
  display: none;
}

#directory.list div:nth-child(even) {
  background-color: #e3f3f8;
}
