body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #1d293f;
}

h1,
h2 {
  font-family: "Mooli", sans-serif;
}

h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* Header styles */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #335f95;
}

header a {
  color: #ffffff;
  padding: 1rem;
}

.header img {
  width: 100%;
  height: auto;
  max-width: 128px;
  min-width: 64px;
}

.title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  min-width: 323px;
}

.title span {
  font-size: 1.81rem;
}

.social {
  display: flex;
  padding: 1rem;
  margin-left: auto;
}

.social a {
  padding: 0.5rem;
}

nav {
  flex-basis: 100%;
  justify-content: right;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

nav a {
  display: none;
}

nav .selected {
  color: #1d293f;
  background-color: #f2c14e;
}

nav a:hover {
  color: #1d293f;
  background-color: #f2c14e;
}

#menu {
  margin: 1rem 2rem 1rem auto;
  font-size: 1.5rem;
  text-align: right;
  width: 30px;
  height: 30px;
  padding: 0.3rem 0.5rem;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
}

#menu:hover {
  color: #f2c14e;
  border-color: #f2c14e;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.open a {
  display: block;
}

#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

/* Footer styles */

footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #335f95;
}

.chamber-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  text-align: left;
  font-style: italic;
  color: #ffffff;
}

.chamber-info .logo {
  margin: 1rem;
}

.chamber-info img {
  width: 100%;
  height: auto;
  max-width: 128px;
  min-width: 64px;
}

.chamber-info .title {
  margin-top: auto;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-family: "Mooli", sans-serif;
  color: #ffffff;
}

.chamber-info .address {
  margin-top: 0.3rem;
}

.contact-info {
  padding: 1rem;
}

.contact-info a {
  color: #ffffff;
}

hr {
  border: 1px solid #335f95;
}

footer hr {
  max-width: 850px;
  width: 80%;
  border-color: #f2c14e;
}

.project-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  color: #ffff00;
}

.project-info p {
  margin: 0.1rem;
}

/* Home page styles */

main {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
}

.hero,
.spotlights {
  margin-bottom: 1rem;
}

.hero img {
  width: 100%;
  height: auto;
}

.button {
  position: relative;
  transform: translate(-50%, -50%);
  top: -40%;
  left: 50%;
  margin-bottom: -2.5rem;
  max-width: fit-content;
  min-width: 284px;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 0 2.5rem 0.5rem #1d293f;
}

.button a {
  padding: 1rem;
  color: #1d293f;
  background-color: #81c3d7;
  border-radius: 0.5rem;
}

.button a:hover {
  color: #1d293f;
  background-color: #f2c14e;
}

.last-visit,
.events,
.weather,
.demographics,
.member {
  padding: 1rem;
  border: 1px solid #335f95;
  margin: 0.5rem 0;
  background-color: #81c3d7;
}

.events h3 {
  margin-bottom: 0;
}

.events p {
  margin: 0.5rem 0;
}

.events a {
  font-size: 0.9rem;
}

.weather p {
  margin: 0 0 0 1rem;
}

.main-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.main-weather img {
  grid-row: 1/3;
  align-self: center;
  justify-self: right;
  margin: 0 1rem;
}

.main-weather p:last-child {
  font-weight: bold;
}

.other-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
}

.other-weather p:nth-child(odd) {
  justify-self: right;
  margin: 0 1rem 0 0;
}

.member {
  text-align: center;
  margin: 0.5rem 2rem;
}

.member h3 {
  text-align: left;
}

.member p {
  text-align: right;
}

/* Discover page styles */

.sidebar div {
  margin: 0.5rem;
}

.last-visit {
  font-weight: 700;
  font-size: 1.2rem;
}

.demographics h3 {
  margin-bottom: 0.5rem;
}

.demographics p {
  margin-top: 0.5rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 640px;
}

.gallery picture {
  border: 8px solid transparent;
  margin: 0 4px;
}

.gallery img {
  max-width: 616px;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
