@media (min-width: 800px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero {
    grid-column: 1/4;
  }

  .button {
    top: -80%;
    left: 20%;
  }

  .events {
    grid-column: 1/3;
    margin-right: 0.5rem;
  }

  .weather {
    margin-left: 0.5rem;
  }

  .spotlights {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
  }

  .member {
    margin: 0.5rem 0;
    width: 30%;
    box-shadow: 0 0 1rem #1d293f;
  }

  .gallery {
    grid-column: 2 / 4;
  }
}

@media (min-width: 1000px) {
  header {
    flex-wrap: nowrap;
  }

  #menu {
    display: none;
  }

  nav {
    flex-direction: row;
    margin-right: 2rem;
  }

  nav a {
    display: block;
  }

  footer {
    grid-template-columns: 0.8fr 2fr 2fr 0.8fr;
    justify-content: center;
  }

  .chamber-info {
    grid-column: 2/3;
    padding-left: 0;
    padding-right: 0;
  }

  .contact-info {
    align-self: center;
  }

  footer hr,
  .project-info {
    grid-column: 1/5;
  }

  .project-info {
    flex-direction: row;
    justify-content: center;
  }

  .project-info p {
    border-right: 1px solid #f2c14e;
    padding-right: 1rem;
    margin-right: 1rem;
  }

  .project-info p:last-child {
    padding-right: 0;
    border-right: 0;
    margin-right: 0.1rem;
  }
}
