@media (min-width: 800px) {
  header {
    flex-wrap: nowrap;
  }

  nav {
    flex-direction: row;
    /* flex-basis: 0; */
  }

  #menu {
    display: none;
  }

  nav a {
    display: block;
  }
}
