:root {
  --primary-color: #2f6690;
  --secondary-color: #81c3d7;
  --accent-color: #f2c14e;
}

h2 {
  grid-column: 1 / 3;
}

form {
  text-align: left;
  padding: 0 2rem;
  grid-column: 1 / 3;
}

fieldset {
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  margin-bottom: 2rem;
}

legend {
  padding: 0 0.5rem;
  margin: 0 1rem 1rem 1rem;
}

input {
  display: block;
  height: 2.75rem;
  margin-bottom: 1rem;
  width: 50%;
  min-width: 150px;
  max-width: 320px;
  background-color: #ffffff;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
}

input:required {
  border-left: #d33b3b solid 6px;
}

input:required:valid {
  border-left: #3a823a solid 6px;
}

#rangevalue {
  display: inline;
  font-size: 1.5rem;
}

#r {
  margin-bottom: 0;
}

span {
  font-size: 0.8rem;
}

#form-message {
  padding: 0.5rem;
  margin: 0 2px 1.5rem 2px;
  height: 20px;
  color: #3a823a;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
}

.submit-button {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2px;
  width: 98%;
  max-width: 20rem;
}

.submit-button:hover {
  background-color: var(--accent-color);
}
