@media (min-width: 640px) {
  nav {
    flex-direction: row;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  h2 {
    grid-column: 1 / 3;
    text-align: left;
  }

  .card:nth-of-type(2) {
    margin-left: 0rem;
  }
}
